.transaction_history {
  width: 400px;
  /* border-radius: 10px;
  border: 2px solid #000; */
}

.title {
  height: 50px;
  background-color: #2196f3;
  color: white;
}

.line {
  height: 40px;
  font-size: 25px;
  font-weight: 400;
  transition: transform 1s;
  border-radius: 10px;
}

.line:hover,
.line:focus {
  transform: scale(1.25);
}

.column {
  padding: 10px;
}
